
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

<h4>@Html.ActionLink("To clients list", "Index", "Clients")</h4>
<h4>@Html.ActionLink("To equipments list", "Index", "Equipments")</h4>
<h4>@Html.ActionLink("To groups list", "Index", "Groups")</h4>
<h4>@Html.ActionLink("To gyms list", "Index", "Gyms")</h4>
<h4>@Html.ActionLink("To inventories list", "Index", "Inventories")</h4>
<h4>@Html.ActionLink("To lessons list", "Index", "Lessons")</h4>
<h4>@Html.ActionLink("To memberships list", "Index", "Memberships")</h4>
<h4>@Html.ActionLink("To sports list", "Index", "Sports")</h4>
<h4>@Html.ActionLink("To subscriptions list", "Index", "Subscriptions")</h4>
<h4>@Html.ActionLink("To trainers list", "Index", "Trainers")</h4>