@model IEnumerable<SSU.University.MVC.Models.Transfer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdOldUniversity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdNewUniversity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdOldFaculty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdOldGroup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdNewGroup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTransfer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdOldUniversity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdNewUniversity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdOldFaculty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdOldGroup)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdNewGroup)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTransfer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
