@model IEnumerable<SSU.University.MVC.Models.Student>

@{
    ViewBag.Title = "GetAllStudnet";
}

<h2>GetAllStudnet</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Group)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfReceipt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Specialty.Title)
        </th>
        @if (Roles.IsUserInRole("Admin"))
        {
            <th>
                @Html.DisplayNameFor(model => model.User.Login)
            </th>
        }
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.FirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MiddleName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Course)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Group)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DateOfReceipt)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Specialty.Title)
    </td>
    @if (Roles.IsUserInRole("Admin"))
    {
        <td>
            @Html.DisplayFor(modelItem => item.User.Login)
        </td>
    }
</tr>
    }

    </table>
