@model SSU.University.MVC.Models.Specialty

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Specialty</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpeningDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpeningDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Departament.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departament.Title)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    }
    @Html.ActionLink("Back to List", "Index")
</p>
